<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="rewards" class="io.github.krris.qlearning.reward.Rewards">
        <!-- additional collaborators and configuration for this bean go here -->
    </bean>

    <bean id="qlearning" class="io.github.krris.qlearning.ApproximateQLearning">
        <property name="rewards" ref="rewards" />
    </bean>

</beans>